## Carga de datos

Antes de poder manipular los diferentes datos, primero es necesário
cargarlos en el sistema

In [1]:
import pandas as pd
import polars as pl
import numpy as np 
from pathlib import Path
from sklearn.metrics.pairwise import haversine_distances
from math import radians

In [2]:
# Directório de archivos
data_folder = Path("../data/predict-energy-behavior-of-prosumers")

# Diccionario de archivos
files = {
    "train": "train.csv",
    "gas_prices": "gas_prices.csv",
    "client": "client.csv",
    "electricity_prices": "electricity_prices.csv",
    "forecast_weather": "forecast_weather.csv",
    "historical_weather": "historical_weather.csv",
    "county_lon_lats": "county_lon_lats.csv",
    "weather_station": "weather_station_to_county_mapping.csv"
}

In [3]:
# Se crea un diccionario de DataFrames para acceder facilmente a todos
# y poder iterar sobre ellos si es necesário
dfs = {}

for key, filename in files.items():
    filepath = data_folder / filename
    try:
        df = pl.read_csv(filepath)
        dfs[key] = df
        print(f"Archivo {key} cargado con exito.")
    except:
        print(f"No pudo cargarse el archivo {key}.")

Archivo train cargado con exito.
Archivo gas_prices cargado con exito.
Archivo client cargado con exito.
Archivo electricity_prices cargado con exito.
Archivo forecast_weather cargado con exito.
Archivo historical_weather cargado con exito.
Archivo county_lon_lats cargado con exito.
Archivo weather_station cargado con exito.

## Asignación de longitud/latitud a un condado especifico

Con el fin de poder unir los csv de "train.csv" y "forecast_weather.csv"
es necesario poder asignar a cada longitud y latitud, su condado
correspondiente.

Para ello se utilizará el archivo "weather_station_to_county_mapping" con datos que asignan latitudes y longitudes a su correspondiente condado.

### Visualización de los datos

In [4]:
from geopy.geocoders import Nominatim

In [5]:
# Se eliminan las filas con instancias nulas
weather_station = dfs["weather_station"].drop_nulls()
weather_station

shape: (49, 4)
┌─────────────┬───────────┬──────────┬────────┐
│ county_name ┆ longitude ┆ latitude ┆ county │
│ ---         ┆ ---       ┆ ---      ┆ ---    │
│ str         ┆ f64       ┆ f64      ┆ i64    │
╞═════════════╪═══════════╪══════════╪════════╡
│ Saaremaa    ┆ 22.2      ┆ 58.2     ┆ 10     │
│ Saaremaa    ┆ 22.2      ┆ 58.5     ┆ 10     │
│ Saaremaa    ┆ 22.7      ┆ 58.5     ┆ 10     │
│ Hiiumaa     ┆ 22.7      ┆ 58.8     ┆ 1      │
│ Saaremaa    ┆ 23.2      ┆ 58.5     ┆ 10     │
│ …           ┆ …         ┆ …        ┆ …      │
│ Ida-Virumaa ┆ 27.2      ┆ 59.1     ┆ 2      │
│ Ida-Virumaa ┆ 27.2      ┆ 59.4     ┆ 2      │
│ Võrumaa     ┆ 27.7      ┆ 57.9     ┆ 15     │
│ Ida-Virumaa ┆ 27.7      ┆ 59.1     ┆ 2      │
│ Ida-Virumaa ┆ 27.7      ┆ 59.4     ┆ 2      │
└─────────────┴───────────┴──────────┴────────┘

In [28]:
coords = dfs["historical_weather"].select(["latitude", "longitude"]).unique()
stations = dfs["weather_station"]["latitude", "longitude", "county"].drop_nulls()

coords = coords.with_columns(
    pl.col("latitude").radians().alias("lat_rad"),
    pl.col("longitude").radians().alias("lon_rad")
)
stations = stations.with_columns(
    pl.exclude("county").radians()
)

coords_array = coords.to_numpy()
stations_array = stations.to_numpy()
display(coords[:6])
display(coords_array[:6])

shape: (6, 4)
┌──────────┬───────────┬──────────┬──────────┐
│ latitude ┆ longitude ┆ lat_rad  ┆ lon_rad  │
│ ---      ┆ ---       ┆ ---      ┆ ---      │
│ f64      ┆ f64       ┆ f64      ┆ f64      │
╞══════════╪═══════════╪══════════╪══════════╡
│ 59.4     ┆ 27.2      ┆ 1.036726 ┆ 0.47473  │
│ 58.5     ┆ 25.2      ┆ 1.021018 ┆ 0.439823 │
│ 59.1     ┆ 23.2      ┆ 1.03149  ┆ 0.404916 │
│ 58.2     ┆ 25.2      ┆ 1.015782 ┆ 0.439823 │
│ 59.1     ┆ 24.7      ┆ 1.03149  ┆ 0.431096 │
│ 59.7     ┆ 24.7      ┆ 1.041962 ┆ 0.431096 │
└──────────┴───────────┴──────────┴──────────┘

array([[59.4       , 27.2       ,  1.03672558,  0.47472956],
       [58.5       , 25.2       ,  1.02101761,  0.43982297],
       [59.1       , 23.2       ,  1.03148959,  0.40491639],
       [58.2       , 25.2       ,  1.01578162,  0.43982297],
       [59.1       , 24.7       ,  1.03148959,  0.43109633],
       [59.7       , 24.7       ,  1.04196156,  0.43109633]])

In [29]:
counties = np.array([], np.int32)
for coord in coords_array[:, 2:4]:
    cnty = -1
    min_dist = float("inf")
    county_zip = zip(stations_array[:, :2], stations_array[:, 2])
    
    for lat_lon, county in county_zip:
        dist = haversine_distances([coord, lat_lon])[0, 1]
        
        if dist < min_dist:
            min_dist = dist
            cnty = county
        
    counties = np.append(
        counties,
        int(cnty)
    )

counties

array([ 2, 14,  6,  7,  9,  0,  4,  2,  6, 11, 15, 10,  0,  0,  7, 10,  6,
        4,  2,  0,  2,  7, 10,  1,  1, 14,  0,  9,  8,  4,  7, 14,  8,  1,
        1,  0, 15,  7, 10, 11,  6,  1,  1,  7,  0, 10,  6,  5, 10,  2, 15,
       15, 15,  6,  2, 13,  7, 13, 13,  5,  7,  7,  5,  7, 10,  2, 15,  2,
       11,  6, 11,  7,  1,  9,  7, 15, 15,  3, 10,  7,  0,  2, 10, 15, 10,
        1, 10,  2,  0,  5,  1,  7, 11,  7,  3, 15,  2,  4, 10,  0,  0, 11,
       10,  5, 10,  0, 10, 10,  0, 10,  5,  3])

In [30]:
coords = coords.with_columns(
    pl.lit(counties).alias("county")
)
coords

shape: (112, 5)
┌──────────┬───────────┬──────────┬──────────┬────────┐
│ latitude ┆ longitude ┆ lat_rad  ┆ lon_rad  ┆ county │
│ ---      ┆ ---       ┆ ---      ┆ ---      ┆ ---    │
│ f64      ┆ f64       ┆ f64      ┆ f64      ┆ i64    │
╞══════════╪═══════════╪══════════╪══════════╪════════╡
│ 59.4     ┆ 27.2      ┆ 1.036726 ┆ 0.47473  ┆ 2      │
│ 58.5     ┆ 25.2      ┆ 1.021018 ┆ 0.439823 ┆ 14     │
│ 59.1     ┆ 23.2      ┆ 1.03149  ┆ 0.404916 ┆ 6      │
│ 58.2     ┆ 25.2      ┆ 1.015782 ┆ 0.439823 ┆ 7      │
│ 59.1     ┆ 24.7      ┆ 1.03149  ┆ 0.431096 ┆ 9      │
│ …        ┆ …         ┆ …        ┆ …        ┆ …      │
│ 57.9     ┆ 21.7      ┆ 1.010546 ┆ 0.378736 ┆ 10     │
│ 59.7     ┆ 24.2      ┆ 1.041962 ┆ 0.42237  ┆ 0      │
│ 58.2     ┆ 22.7      ┆ 1.015782 ┆ 0.39619  ┆ 10     │
│ 59.4     ┆ 26.2      ┆ 1.036726 ┆ 0.457276 ┆ 5      │
│ 58.8     ┆ 25.2      ┆ 1.026254 ┆ 0.439823 ┆ 3      │
└──────────┴───────────┴──────────┴──────────┴────────┘

In [33]:
dfs["historical_weather"].join(
    coords.select(["latitude", "longitude", "county"]),
    on=["latitude", "longitude"],
    how="left"
).describe()

shape: (9, 20)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ datetime  ┆ temperatu ┆ dewpoint  ┆ … ┆ latitude  ┆ longitude ┆ data_bloc ┆ county   │
│ ---       ┆ ---       ┆ re        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ k_id      ┆ ---      │
│ str       ┆ str       ┆ ---       ┆ f64       ┆   ┆ f64       ┆ f64       ┆ ---       ┆ f64      │
│           ┆           ┆ f64       ┆           ┆   ┆           ┆           ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 1710802   ┆ 1.710802e ┆ 1.710802e ┆ … ┆ 1.710802e ┆ 1.710802e ┆ 1.710802e ┆ 1.710802 │
│           ┆           ┆ 6         ┆ 6         ┆   ┆ 6         ┆ 6         ┆ 6         ┆ e6       │
│ null_coun ┆ 0         ┆ 0.0       ┆ 0.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0      │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ null      ┆ 5.740968  ┆ 2.240312  ┆ … ┆ 58.649999 ┆ 24.949999 ┆ 319.27077 ┆ 6.633931 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 8         ┆          │
│ std       ┆ null      ┆ 8.025647  ┆ 7.224357  ┆ … ┆ 0.687387  ┆ 2.015564  ┆ 183.72979 ┆ 4.718874 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 8         ┆          │
│ min       ┆ 2021-09-0 ┆ -23.7     ┆ -25.9     ┆ … ┆ 57.6      ┆ 21.7      ┆ 1.0       ┆ 0.0      │
│           ┆ 1         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ null      ┆ 0.0       ┆ -2.6      ┆ … ┆ 57.9      ┆ 23.2      ┆ 160.0     ┆ 2.0      │
│ 50%       ┆ null      ┆ 5.1       ┆ 1.7       ┆ … ┆ 58.5      ┆ 24.7      ┆ 319.0     ┆ 7.0      │
│ 75%       ┆ null      ┆ 11.2      ┆ 7.2       ┆ … ┆ 59.1      ┆ 26.7      ┆ 478.0     ┆ 10.0     │
│ max       ┆ 2023-05-3 ┆ 32.6      ┆ 23.8      ┆ … ┆ 59.7      ┆ 28.2      ┆ 637.0     ┆ 15.0     │
│           ┆ 0         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 10:00:00  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [22]:
coords.filter(
    (pl.col("latitude") == 57.6) &
    (pl.col("longitude") == 25.7)
)

shape: (0, 3)
┌──────────┬───────────┬────────┐
│ latitude ┆ longitude ┆ county │
│ ---      ┆ ---       ┆ ---    │
│ f64      ┆ f64       ┆ i64    │
╞══════════╪═══════════╪════════╡
└──────────┴───────────┴────────┘

In [91]:
dfs["weather_station"]["latitude", "longitude", "county"].with_columns(
    pl.col("latitude", "longitude").radians()
).drop_nulls()

shape: (49, 3)
┌──────────┬───────────┬────────┐
│ latitude ┆ longitude ┆ county │
│ ---      ┆ ---       ┆ ---    │
│ f64      ┆ f64       ┆ i64    │
╞══════════╪═══════════╪════════╡
│ 1.015782 ┆ 0.387463  ┆ 10     │
│ 1.021018 ┆ 0.387463  ┆ 10     │
│ 1.021018 ┆ 0.39619   ┆ 10     │
│ 1.026254 ┆ 0.39619   ┆ 1      │
│ 1.021018 ┆ 0.404916  ┆ 10     │
│ …        ┆ …         ┆ …      │
│ 1.03149  ┆ 0.47473   ┆ 2      │
│ 1.036726 ┆ 0.47473   ┆ 2      │
│ 1.010546 ┆ 0.483456  ┆ 15     │
│ 1.03149  ┆ 0.483456  ┆ 2      │
│ 1.036726 ┆ 0.483456  ┆ 2      │
└──────────┴───────────┴────────┘

In [4]:
import re

class Regex_dict:
    '''
    Diccionario el cual almacena expresiones regulares como keys
    con el fin de poder compilar la entrada a la hora de obtener un value
    '''
    def __init__(self):
        self.keywords = []  # Expresiones regulares

    def add(self, expr, value):
        '''
        Almacena la expresión regular junto a su valor.
        '''
        self.keywords.append(
            (re.compile(expr), value)
        )
    
    def get(self, string):
        '''
        Devuelve, si es posible, el valor de la key del string pasado
        '''
        for expr, value in self.keywords:
            if expr.search(string):
                return value
        return None

In [ ]:
class DataProcessor:
    def __init__(self):
        self.gas_join = ["datetime"]
        self.ep_join = ["datetime"]
        self.hw_join = [ "county", "datetime"]
        self.client_join = ["product_type", "county", "is_business", "date"]
        self.lat_lon = ["latitude", "longitude"]

    def create_dict(self, lon_lat_dataframe: pl.DataFrame):
        # Se inicializa el diccionario de re
        re_dict = Regex_dict()

        # Se eliminan los valores núlos del dataframe
        lon_lat_dataframe = lon_lat_dataframe.drop_nulls()
        cols = "county_name", "county"

        if (cols[0] in lon_lat_dataframe) and (cols[1] in lon_lat_dataframe):
            # Se obtiene un array con los nombres y números de cada condado
            counties = lon_lat_dataframe[cols].unique().to_numpy()

            # Se añade los nombres y números al diccionario
            for county_name, county in counties:
                re_dict.add(county_name, county)
        
        else:
            raise RuntimeError(
                "No existen las columnas \"county_name\" y/o \"county\" en el dataframe"
            )

        return re_dict

    def add_counties(self, df: pl.DataFrame, stations: pl.DataFrame):
        # Se seleccionan los datos requeridos

        coords = df.select(
            pl.col("latitude", "longitude")
        ).unique()

        coords = coords.with_columns(
            pl.col("latitude").radians().alias("lat_rad"),
            pl.col("longitude").radians().alias("lon_rad")
        )


        wthr_stations = stations.drop_nulls()
        wthr_stations = wthr_stations[
            "latitude", "longitude", "county"
        ].with_columns(
                pl.col("latitude", "longitude").radians()
        ).to_numpy()

        coords_arr = coords.to_numpy()

        counties = np.array([], np.int32)
        # Se itera para obtener la menor distancia entre puntos 
        # y asignar el condado
        for coord in coords_arr[:, 2:4]:
            # Cada coordenada tiene una dist minima 
            # y un condado asignado
            min_dist = float("inf")
            cnty = -1

            station_zip = zip(wthr_stations[:, :2], wthr_stations[:, 2])

            for lat_lon, county in station_zip:
                dist = haversine_distances([coord, lat_lon])[0, 1]

                if dist < min_dist:
                    cnty = county
                    min_dist = dist

            # Se añade el condado a la lista
            counties = np.append(
                counties,
                int(cnty)
            )
        
        # Se asigna los condados a cada coordenada y se devuelve el resultado
        result = coords.with_columns(
            pl.lit(counties).alias("county")
        )

        result = df.join(
            result.select(["latitude", "longitude", "county"]),
            on=["latitude", "longitude"],
            how="left"
        )

        return result

    def change_names(self, df: pl.DataFrame, suffix, no_change):
        renamed_df = df.rename(
            lambda col: col + suffix if col not in no_change else col
        )
        return renamed_df
    
    def to_datetime(self, df: pl.DataFrame, col: str):
        # Cast str to Datetime
        result = df.with_columns(
            pl.col(col).str.strptime(pl.Datetime)
        )
        return result

    def get_gas_features(self, gas_df: pl.DataFrame):
        df = gas_df.with_columns(
            ((pl.col("lowest_price_per_mwh") + 
              pl.col("highest_price_per_mwh")) / 2).alias("mean_price_per_mwh_24h")
        )

        df = self.to_datetime(df, "origin_date")
        df = df.rename({"origin_date":"datetime"})

        return self.change_names(df, "_gas", self.gas_join)
    
    def get_client_features(self, client_df: pl.DataFrame):
        df = client_df.with_columns(
            pl.col("date").str.strptime(pl.Date)
        )
        return self.change_names(df, "_client", self.client_join)
    
    def get_hist_weather_features(self, hw_df: pl.DataFrame, ws_df: pl.DataFrame):
        df = self.to_datetime(hw_df, "datetime")

        df = self.add_counties(df, ws_df)
        df = self.change_names(df, "_hw", self.hw_join)

        return df
    
    def get_forecast_weather_features(self, fw_df):
        return None
    
    def get_electricity_features(self, ep_df: pl.DataFrame):
        # str to datetime
        df = self.to_datetime(ep_df, "origin_date")

        df = df.rename({"origin_date":"datetime"})
        df = df.rename({"euros_per_mwh":"euros_per_mwh_24h"})

        # Change names
        df = self.change_names(df, "_ep", self.ep_join)

        return df
    
    def get_data_features(self, data: pl.DataFrame):
        
        date = "datetime"
        # Cast to Datetime
        df = self.to_datetime(data, "datetime")

        df = df.with_columns([
            # Date
            pl.col(date).dt.truncate("1d").cast(pl.Date).alias("date"),

            # Year
            pl.col(date).dt.year().alias("year"),

            # Quarter
            pl.col(date).dt.quarter().alias("quarter"),

            # Month
            pl.col(date).dt.month().alias("month"),

            # Week
            pl.col(date).dt.week().alias("week"),

            # Hour
            pl.col(date).dt.hour().alias("hour"),

            # Day of year
            pl.col(date).dt.ordinal_day().alias("day_of_year"),

            # Day of month
            pl.col(date).dt.day().alias("day_of_month"),

            # Day of week
            pl.col(date).dt.weekday().alias("day_of_week")
        ])

        return df
    
    def __call__(self, df_dict: dict):
        
        # Counties dict
        #self.county_dict = self.create_dict(df_dict["weather_station"])

        data = self.get_data_features(df_dict["train"])
        gas_p = self.get_gas_features(df_dict["gas_prices"])
        el_p = self.get_electricity_features(df_dict["electricity_prices"])
        client = self.get_client_features(df_dict["client"])
        hist_w = self.get_hist_weather_features(
            df_dict["historical_weather"],
            df_dict["weather_station"]
        )

        final_data = data.join(client, on=self.client_join, how="left")
        final_data = final_data.join(gas_p, on=self.gas_join, how="left")
        final_data = final_data.join(el_p, on=self.ep_join, how="left")
        final_data = final_data.join(hist_w, on=self.hw_join, how="left")

        return final_data

In [ ]:
dp = DataProcessor()
res = dp(dfs)

In [9]:
res

shape: (2_018_352, 26)
┌────────┬────────────┬────────────┬─────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ county ┆ is_busines ┆ product_ty ┆ target  ┆ … ┆ lowest_pri ┆ highest_pr ┆ data_bloc ┆ mean_pric │
│ ---    ┆ s          ┆ pe         ┆ ---     ┆   ┆ ce_per_mwh ┆ ice_per_mw ┆ k_id_gas  ┆ e_per_mwh │
│ i64    ┆ ---        ┆ ---        ┆ f64     ┆   ┆ _gas       ┆ h_gas      ┆ ---       ┆ _24h_gas  │
│        ┆ i64        ┆ i64        ┆         ┆   ┆ ---        ┆ ---        ┆ i64       ┆ ---       │
│        ┆            ┆            ┆         ┆   ┆ f64        ┆ f64        ┆           ┆ f64       │
╞════════╪════════════╪════════════╪═════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ 0      ┆ 0          ┆ 1          ┆ 0.713   ┆ … ┆ 45.62      ┆ 46.29      ┆ 2         ┆ 45.955    │
│ 0      ┆ 0          ┆ 1          ┆ 96.59   ┆ … ┆ 45.62      ┆ 46.29      ┆ 2         ┆ 45.955    │
│ 0      ┆ 0          ┆ 2          ┆ 0.0     ┆ … ┆ 45.62      ┆ 46.29      ┆ 2         ┆ 45.955    │
│ 0      ┆ 0          ┆ 2          ┆ 17.314  ┆ … ┆ 45.62      ┆ 46.29      ┆ 2         ┆ 45.955    │
│ 0      ┆ 0          ┆ 3          ┆ 2.904   ┆ … ┆ 45.62      ┆ 46.29      ┆ 2         ┆ 45.955    │
│ …      ┆ …          ┆ …          ┆ …       ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ 15     ┆ 1          ┆ 0          ┆ 197.233 ┆ … ┆ null       ┆ null       ┆ null      ┆ null      │
│ 15     ┆ 1          ┆ 1          ┆ 0.0     ┆ … ┆ null       ┆ null       ┆ null      ┆ null      │
│ 15     ┆ 1          ┆ 1          ┆ 28.404  ┆ … ┆ null       ┆ null       ┆ null      ┆ null      │
│ 15     ┆ 1          ┆ 3          ┆ 0.0     ┆ … ┆ null       ┆ null       ┆ null      ┆ null      │
│ 15     ┆ 1          ┆ 3          ┆ 196.24  ┆ … ┆ null       ┆ null       ┆ null      ┆ null      │
└────────┴────────────┴────────────┴─────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [48]:
dfs["weather_station"]

shape: (112, 4)
┌─────────────┬───────────┬──────────┬────────┐
│ county_name ┆ longitude ┆ latitude ┆ county │
│ ---         ┆ ---       ┆ ---      ┆ ---    │
│ str         ┆ f64       ┆ f64      ┆ i64    │
╞═════════════╪═══════════╪══════════╪════════╡
│ null        ┆ 21.7      ┆ 57.6     ┆ null   │
│ null        ┆ 21.7      ┆ 57.9     ┆ null   │
│ null        ┆ 21.7      ┆ 58.2     ┆ null   │
│ null        ┆ 21.7      ┆ 58.5     ┆ null   │
│ null        ┆ 21.7      ┆ 58.8     ┆ null   │
│ …           ┆ …         ┆ …        ┆ …      │
│ null        ┆ 28.2      ┆ 58.5     ┆ null   │
│ null        ┆ 28.2      ┆ 58.8     ┆ null   │
│ null        ┆ 28.2      ┆ 59.1     ┆ null   │
│ null        ┆ 28.2      ┆ 59.4     ┆ null   │
│ null        ┆ 28.2      ┆ 59.7     ┆ null   │
└─────────────┴───────────┴──────────┴────────┘

In [24]:
dp = DataProcessor()

result = dp(dfs)
result

[(re.compile(r'Põlvamaa', re.UNICODE), 8),
 (re.compile(r'Läänemaa', re.UNICODE), 6),
 (re.compile(r'Järvamaa', re.UNICODE), 3),
 (re.compile(r'Valgamaa', re.UNICODE), 13),
 (re.compile(r'Lääne-Virumaa', re.UNICODE), 5),
 (re.compile(r'Jõgevamaa', re.UNICODE), 4),
 (re.compile(r'Harjumaa', re.UNICODE), 0),
 (re.compile(r'Pärnumaa', re.UNICODE), 7),
 (re.compile(r'Viljandimaa', re.UNICODE), 14),
 (re.compile(r'Võrumaa', re.UNICODE), 15),
 (re.compile(r'Ida-Virumaa', re.UNICODE), 2),
 (re.compile(r'Raplamaa', re.UNICODE), 9),
 (re.compile(r'Hiiumaa', re.UNICODE), 1),
 (re.compile(r'Tartumaa', re.UNICODE), 11),
 (re.compile(r'Saaremaa', re.UNICODE), 10)]

TypeError: expected string or bytes-like object, got 'NoneType'

In [8]:
dfs["historical_weather"]

NameError: name 'dfs' is not defined

In [11]:
# Adivinar que hace la variable hours ahead f mean
# No añadir los Targets de horas anteriores

In [31]:
dfs["client"].tail()

shape: (5, 7)
┌──────────────┬────────┬───────────┬───────────────────┬─────────────┬────────────┬───────────────┐
│ product_type ┆ county ┆ eic_count ┆ installed_capacit ┆ is_business ┆ date       ┆ data_block_id │
│ ---          ┆ ---    ┆ ---       ┆ y                 ┆ ---         ┆ ---        ┆ ---           │
│ i64          ┆ i64    ┆ i64       ┆ ---               ┆ i64         ┆ str        ┆ i64           │
│              ┆        ┆           ┆ f64               ┆             ┆            ┆               │
╞══════════════╪════════╪═══════════╪═══════════════════╪═════════════╪════════════╪═══════════════╡
│ 1            ┆ 15     ┆ 51        ┆ 415.6             ┆ 0           ┆ 2023-05-29 ┆ 637           │
│ 3            ┆ 15     ┆ 161       ┆ 2035.75           ┆ 0           ┆ 2023-05-29 ┆ 637           │
│ 0            ┆ 15     ┆ 15        ┆ 620.0             ┆ 1           ┆ 2023-05-29 ┆ 637           │
│ 1            ┆ 15     ┆ 20        ┆ 624.5             ┆ 1           ┆ 2023-05-29 ┆ 637           │
│ 3            ┆ 15     ┆ 55        ┆ 2188.2            ┆ 1           ┆ 2023-05-29 ┆ 637           │
└──────────────┴────────┴───────────┴───────────────────┴─────────────┴────────────┴───────────────┘

In [41]:
display(dfs["train"])
display(dfs["electricity_prices"])

shape: (2_018_352, 9)
┌────────┬─────────────┬────────────┬─────────┬───┬────────────┬────────────┬─────────┬────────────┐
│ county ┆ is_business ┆ product_ty ┆ target  ┆ … ┆ datetime   ┆ data_block ┆ row_id  ┆ prediction │
│ ---    ┆ ---         ┆ pe         ┆ ---     ┆   ┆ ---        ┆ _id        ┆ ---     ┆ _unit_id   │
│ i64    ┆ i64         ┆ ---        ┆ f64     ┆   ┆ str        ┆ ---        ┆ i64     ┆ ---        │
│        ┆             ┆ i64        ┆         ┆   ┆            ┆ i64        ┆         ┆ i64        │
╞════════╪═════════════╪════════════╪═════════╪═══╪════════════╪════════════╪═════════╪════════════╡
│ 0      ┆ 0           ┆ 1          ┆ 0.713   ┆ … ┆ 2021-09-01 ┆ 0          ┆ 0       ┆ 0          │
│        ┆             ┆            ┆         ┆   ┆ 00:00:00   ┆            ┆         ┆            │
│ 0      ┆ 0           ┆ 1          ┆ 96.59   ┆ … ┆ 2021-09-01 ┆ 0          ┆ 1       ┆ 0          │
│        ┆             ┆            ┆         ┆   ┆ 00:00:00   ┆            ┆         ┆            │
│ 0      ┆ 0           ┆ 2          ┆ 0.0     ┆ … ┆ 2021-09-01 ┆ 0          ┆ 2       ┆ 1          │
│        ┆             ┆            ┆         ┆   ┆ 00:00:00   ┆            ┆         ┆            │
│ 0      ┆ 0           ┆ 2          ┆ 17.314  ┆ … ┆ 2021-09-01 ┆ 0          ┆ 3       ┆ 1          │
│        ┆             ┆            ┆         ┆   ┆ 00:00:00   ┆            ┆         ┆            │
│ 0      ┆ 0           ┆ 3          ┆ 2.904   ┆ … ┆ 2021-09-01 ┆ 0          ┆ 4       ┆ 2          │
│        ┆             ┆            ┆         ┆   ┆ 00:00:00   ┆            ┆         ┆            │
│ …      ┆ …           ┆ …          ┆ …       ┆ … ┆ …          ┆ …          ┆ …       ┆ …          │
│ 15     ┆ 1           ┆ 0          ┆ 197.233 ┆ … ┆ 2023-05-31 ┆ 637        ┆ 2018347 ┆ 64         │
│        ┆             ┆            ┆         ┆   ┆ 23:00:00   ┆            ┆         ┆            │
│ 15     ┆ 1           ┆ 1          ┆ 0.0     ┆ … ┆ 2023-05-31 ┆ 637        ┆ 2018348 ┆ 59         │
│        ┆             ┆            ┆         ┆   ┆ 23:00:00   ┆            ┆         ┆            │
│ 15     ┆ 1           ┆ 1          ┆ 28.404  ┆ … ┆ 2023-05-31 ┆ 637        ┆ 2018349 ┆ 59         │
│        ┆             ┆            ┆         ┆   ┆ 23:00:00   ┆            ┆         ┆            │
│ 15     ┆ 1           ┆ 3          ┆ 0.0     ┆ … ┆ 2023-05-31 ┆ 637        ┆ 2018350 ┆ 60         │
│        ┆             ┆            ┆         ┆   ┆ 23:00:00   ┆            ┆         ┆            │
│ 15     ┆ 1           ┆ 3          ┆ 196.24  ┆ … ┆ 2023-05-31 ┆ 637        ┆ 2018351 ┆ 60         │
│        ┆             ┆            ┆         ┆   ┆ 23:00:00   ┆            ┆         ┆            │
└────────┴─────────────┴────────────┴─────────┴───┴────────────┴────────────┴─────────┴────────────┘

shape: (15_286, 4)
┌─────────────────────┬───────────────┬─────────────────────┬───────────────┐
│ forecast_date       ┆ euros_per_mwh ┆ origin_date         ┆ data_block_id │
│ ---                 ┆ ---           ┆ ---                 ┆ ---           │
│ str                 ┆ f64           ┆ str                 ┆ i64           │
╞═════════════════════╪═══════════════╪═════════════════════╪═══════════════╡
│ 2021-09-01 00:00:00 ┆ 92.51         ┆ 2021-08-31 00:00:00 ┆ 1             │
│ 2021-09-01 01:00:00 ┆ 88.9          ┆ 2021-08-31 01:00:00 ┆ 1             │
│ 2021-09-01 02:00:00 ┆ 87.35         ┆ 2021-08-31 02:00:00 ┆ 1             │
│ 2021-09-01 03:00:00 ┆ 86.88         ┆ 2021-08-31 03:00:00 ┆ 1             │
│ 2021-09-01 04:00:00 ┆ 88.43         ┆ 2021-08-31 04:00:00 ┆ 1             │
│ …                   ┆ …             ┆ …                   ┆ …             │
│ 2023-05-30 19:00:00 ┆ 82.1          ┆ 2023-05-29 19:00:00 ┆ 637           │
│ 2023-05-30 20:00:00 ┆ 150.85        ┆ 2023-05-29 20:00:00 ┆ 637           │
│ 2023-05-30 21:00:00 ┆ 82.1          ┆ 2023-05-29 21:00:00 ┆ 637           │
│ 2023-05-30 22:00:00 ┆ 82.09         ┆ 2023-05-29 22:00:00 ┆ 637           │
│ 2023-05-30 23:00:00 ┆ -1.29         ┆ 2023-05-29 23:00:00 ┆ 637           │
└─────────────────────┴───────────────┴─────────────────────┴───────────────┘

In [ ]:
for key in dfs.keys():
    print(f"{key}:")
    display(dfs[key].head(1))

train:

shape: (1, 9)
┌────────┬─────────────┬─────────────┬────────┬───┬─────────────┬────────────┬────────┬────────────┐
│ county ┆ is_business ┆ product_typ ┆ target ┆ … ┆ datetime    ┆ data_block ┆ row_id ┆ prediction │
│ ---    ┆ ---         ┆ e           ┆ ---    ┆   ┆ ---         ┆ _id        ┆ ---    ┆ _unit_id   │
│ i64    ┆ i64         ┆ ---         ┆ f64    ┆   ┆ str         ┆ ---        ┆ i64    ┆ ---        │
│        ┆             ┆ i64         ┆        ┆   ┆             ┆ i64        ┆        ┆ i64        │
╞════════╪═════════════╪═════════════╪════════╪═══╪═════════════╪════════════╪════════╪════════════╡
│ 0      ┆ 0           ┆ 1           ┆ 0.713  ┆ … ┆ 2021-09-01  ┆ 0          ┆ 0      ┆ 0          │
│        ┆             ┆             ┆        ┆   ┆ 00:00:00    ┆            ┆        ┆            │
└────────┴─────────────┴─────────────┴────────┴───┴─────────────┴────────────┴────────┴────────────┘

gas_prices:

shape: (1, 5)
┌───────────────┬──────────────────────┬───────────────────────┬─────────────┬───────────────┐
│ forecast_date ┆ lowest_price_per_mwh ┆ highest_price_per_mwh ┆ origin_date ┆ data_block_id │
│ ---           ┆ ---                  ┆ ---                   ┆ ---         ┆ ---           │
│ str           ┆ f64                  ┆ f64                   ┆ str         ┆ i64           │
╞═══════════════╪══════════════════════╪═══════════════════════╪═════════════╪═══════════════╡
│ 2021-09-01    ┆ 45.23                ┆ 46.32                 ┆ 2021-08-31  ┆ 1             │
└───────────────┴──────────────────────┴───────────────────────┴─────────────┴───────────────┘

client:

shape: (1, 7)
┌──────────────┬────────┬───────────┬───────────────────┬─────────────┬────────────┬───────────────┐
│ product_type ┆ county ┆ eic_count ┆ installed_capacit ┆ is_business ┆ date       ┆ data_block_id │
│ ---          ┆ ---    ┆ ---       ┆ y                 ┆ ---         ┆ ---        ┆ ---           │
│ i64          ┆ i64    ┆ i64       ┆ ---               ┆ i64         ┆ str        ┆ i64           │
│              ┆        ┆           ┆ f64               ┆             ┆            ┆               │
╞══════════════╪════════╪═══════════╪═══════════════════╪═════════════╪════════════╪═══════════════╡
│ 1            ┆ 0      ┆ 108       ┆ 952.89            ┆ 0           ┆ 2021-09-01 ┆ 2             │
└──────────────┴────────┴───────────┴───────────────────┴─────────────┴────────────┴───────────────┘

electricity_prices:

shape: (1, 4)
┌─────────────────────┬───────────────┬─────────────────────┬───────────────┐
│ forecast_date       ┆ euros_per_mwh ┆ origin_date         ┆ data_block_id │
│ ---                 ┆ ---           ┆ ---                 ┆ ---           │
│ str                 ┆ f64           ┆ str                 ┆ i64           │
╞═════════════════════╪═══════════════╪═════════════════════╪═══════════════╡
│ 2021-09-01 00:00:00 ┆ 92.51         ┆ 2021-08-31 00:00:00 ┆ 1             │
└─────────────────────┴───────────────┴─────────────────────┴───────────────┘

forecast_weather:

shape: (1, 18)
┌──────────┬───────────┬────────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ latitude ┆ longitude ┆ origin_dat ┆ hours_ahe ┆ … ┆ direct_so ┆ surface_s ┆ snowfall ┆ total_pre │
│ ---      ┆ ---       ┆ etime      ┆ ad        ┆   ┆ lar_radia ┆ olar_radi ┆ ---      ┆ cipitatio │
│ f64      ┆ f64       ┆ ---        ┆ ---       ┆   ┆ tion      ┆ ation_dow ┆ f64      ┆ n         │
│          ┆           ┆ str        ┆ i64       ┆   ┆ ---       ┆ nwa…      ┆          ┆ ---       │
│          ┆           ┆            ┆           ┆   ┆ f64       ┆ ---       ┆          ┆ f64       │
│          ┆           ┆            ┆           ┆   ┆           ┆ f64       ┆          ┆           │
╞══════════╪═══════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ 57.6     ┆ 21.7      ┆ 2021-09-01 ┆ 1         ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0      ┆ 0.0       │
│          ┆           ┆ 02:00:00   ┆           ┆   ┆           ┆           ┆          ┆           │
└──────────┴───────────┴────────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

historical_weather:

shape: (1, 18)
┌─────────────┬─────────────┬──────────┬──────┬───┬────────────┬──────────┬───────────┬────────────┐
│ datetime    ┆ temperature ┆ dewpoint ┆ rain ┆ … ┆ diffuse_ra ┆ latitude ┆ longitude ┆ data_block │
│ ---         ┆ ---         ┆ ---      ┆ ---  ┆   ┆ diation    ┆ ---      ┆ ---       ┆ _id        │
│ str         ┆ f64         ┆ f64      ┆ f64  ┆   ┆ ---        ┆ f64      ┆ f64       ┆ ---        │
│             ┆             ┆          ┆      ┆   ┆ f64        ┆          ┆           ┆ f64        │
╞═════════════╪═════════════╪══════════╪══════╪═══╪════════════╪══════════╪═══════════╪════════════╡
│ 2021-09-01  ┆ 14.2        ┆ 11.6     ┆ 0.0  ┆ … ┆ 0.0        ┆ 57.6     ┆ 21.7      ┆ 1.0        │
│ 00:00:00    ┆             ┆          ┆      ┆   ┆            ┆          ┆           ┆            │
└─────────────┴─────────────┴──────────┴──────┴───┴────────────┴──────────┴───────────┴────────────┘

county_lon_lats:

shape: (1, 4)
┌─────┬────────┬───────────┬──────────┐
│     ┆ county ┆ longitude ┆ latitude │
│ --- ┆ ---    ┆ ---       ┆ ---      │
│ i64 ┆ i64    ┆ f64       ┆ f64      │
╞═════╪════════╪═══════════╪══════════╡
│ 0   ┆ 0      ┆ 24.2      ┆ 59.1     │
└─────┴────────┴───────────┴──────────┘

weather_station:

shape: (1, 4)
┌─────────────┬───────────┬──────────┬────────┐
│ county_name ┆ longitude ┆ latitude ┆ county │
│ ---         ┆ ---       ┆ ---      ┆ ---    │
│ str         ┆ f64       ┆ f64      ┆ i64    │
╞═════════════╪═══════════╪══════════╪════════╡
│ null        ┆ 21.7      ┆ 57.6     ┆ null   │
└─────────────┴───────────┴──────────┴────────┘

In [ ]:
dfs["client"].with_columns(
    pl.col("date").str.strptime(pl.Date)
)
.0

shape: (41_919, 7)
┌──────────────┬────────┬───────────┬───────────────────┬─────────────┬────────────┬───────────────┐
│ product_type ┆ county ┆ eic_count ┆ installed_capacit ┆ is_business ┆ date       ┆ data_block_id │
│ ---          ┆ ---    ┆ ---       ┆ y                 ┆ ---         ┆ ---        ┆ ---           │
│ i64          ┆ i64    ┆ i64       ┆ ---               ┆ i64         ┆ date       ┆ i64           │
│              ┆        ┆           ┆ f64               ┆             ┆            ┆               │
╞══════════════╪════════╪═══════════╪═══════════════════╪═════════════╪════════════╪═══════════════╡
│ 1            ┆ 0      ┆ 108       ┆ 952.89            ┆ 0           ┆ 2021-09-01 ┆ 2             │
│ 2            ┆ 0      ┆ 17        ┆ 166.4             ┆ 0           ┆ 2021-09-01 ┆ 2             │
│ 3            ┆ 0      ┆ 688       ┆ 7207.88           ┆ 0           ┆ 2021-09-01 ┆ 2             │
│ 0            ┆ 0      ┆ 5         ┆ 400.0             ┆ 1           ┆ 2021-09-01 ┆ 2             │
│ 1            ┆ 0      ┆ 43        ┆ 1411.0            ┆ 1           ┆ 2021-09-01 ┆ 2             │
│ …            ┆ …      ┆ …         ┆ …                 ┆ …           ┆ …          ┆ …             │
│ 1            ┆ 15     ┆ 51        ┆ 415.6             ┆ 0           ┆ 2023-05-29 ┆ 637           │
│ 3            ┆ 15     ┆ 161       ┆ 2035.75           ┆ 0           ┆ 2023-05-29 ┆ 637           │
│ 0            ┆ 15     ┆ 15        ┆ 620.0             ┆ 1           ┆ 2023-05-29 ┆ 637           │
│ 1            ┆ 15     ┆ 20        ┆ 624.5             ┆ 1           ┆ 2023-05-29 ┆ 637           │
│ 3            ┆ 15     ┆ 55        ┆ 2188.2            ┆ 1           ┆ 2023-05-29 ┆ 637           │
└──────────────┴────────┴───────────┴───────────────────┴─────────────┴────────────┴───────────────┘

In [17]:
display(dfs["client"].filter(
    (pl.col("product_type") == 1) & 
    (pl.col("county") == 0) & 
    (pl.col("is_business") == 0)
))

shape: (636, 7)
┌──────────────┬────────┬───────────┬───────────────────┬─────────────┬────────────┬───────────────┐
│ product_type ┆ county ┆ eic_count ┆ installed_capacit ┆ is_business ┆ date       ┆ data_block_id │
│ ---          ┆ ---    ┆ ---       ┆ y                 ┆ ---         ┆ ---        ┆ ---           │
│ i64          ┆ i64    ┆ i64       ┆ ---               ┆ i64         ┆ str        ┆ i64           │
│              ┆        ┆           ┆ f64               ┆             ┆            ┆               │
╞══════════════╪════════╪═══════════╪═══════════════════╪═════════════╪════════════╪═══════════════╡
│ 1            ┆ 0      ┆ 108       ┆ 952.89            ┆ 0           ┆ 2021-09-01 ┆ 2             │
│ 1            ┆ 0      ┆ 108       ┆ 952.89            ┆ 0           ┆ 2021-09-02 ┆ 3             │
│ 1            ┆ 0      ┆ 108       ┆ 952.89            ┆ 0           ┆ 2021-09-03 ┆ 4             │
│ 1            ┆ 0      ┆ 108       ┆ 952.89            ┆ 0           ┆ 2021-09-04 ┆ 5             │
│ 1            ┆ 0      ┆ 108       ┆ 952.89            ┆ 0           ┆ 2021-09-05 ┆ 6             │
│ …            ┆ …      ┆ …         ┆ …                 ┆ …           ┆ …          ┆ …             │
│ 1            ┆ 0      ┆ 508       ┆ 4968.215          ┆ 0           ┆ 2023-05-25 ┆ 633           │
│ 1            ┆ 0      ┆ 507       ┆ 4960.215          ┆ 0           ┆ 2023-05-26 ┆ 634           │
│ 1            ┆ 0      ┆ 507       ┆ 4960.215          ┆ 0           ┆ 2023-05-27 ┆ 635           │
│ 1            ┆ 0      ┆ 508       ┆ 4964.215          ┆ 0           ┆ 2023-05-28 ┆ 636           │
│ 1            ┆ 0      ┆ 508       ┆ 4964.215          ┆ 0           ┆ 2023-05-29 ┆ 637           │
└──────────────┴────────┴───────────┴───────────────────┴─────────────┴────────────┴───────────────┘

In [34]:
dfs["train"].filter(
    pl.col("data_block_id") == 1
)

shape: (2_928, 9)
┌────────┬─────────────┬─────────────┬─────────┬───┬────────────┬────────────┬────────┬────────────┐
│ county ┆ is_business ┆ product_typ ┆ target  ┆ … ┆ datetime   ┆ data_block ┆ row_id ┆ prediction │
│ ---    ┆ ---         ┆ e           ┆ ---     ┆   ┆ ---        ┆ _id        ┆ ---    ┆ _unit_id   │
│ i64    ┆ i64         ┆ ---         ┆ f64     ┆   ┆ str        ┆ ---        ┆ i64    ┆ ---        │
│        ┆             ┆ i64         ┆         ┆   ┆            ┆ i64        ┆        ┆ i64        │
╞════════╪═════════════╪═════════════╪═════════╪═══╪════════════╪════════════╪════════╪════════════╡
│ 0      ┆ 0           ┆ 1           ┆ 1.687   ┆ … ┆ 2021-09-02 ┆ 1          ┆ 2928   ┆ 0          │
│        ┆             ┆             ┆         ┆   ┆ 00:00:00   ┆            ┆        ┆            │
│ 0      ┆ 0           ┆ 1           ┆ 109.366 ┆ … ┆ 2021-09-02 ┆ 1          ┆ 2929   ┆ 0          │
│        ┆             ┆             ┆         ┆   ┆ 00:00:00   ┆            ┆        ┆            │
│ 0      ┆ 0           ┆ 2           ┆ 0.0     ┆ … ┆ 2021-09-02 ┆ 1          ┆ 2930   ┆ 1          │
│        ┆             ┆             ┆         ┆   ┆ 00:00:00   ┆            ┆        ┆            │
│ 0      ┆ 0           ┆ 2           ┆ 21.008  ┆ … ┆ 2021-09-02 ┆ 1          ┆ 2931   ┆ 1          │
│        ┆             ┆             ┆         ┆   ┆ 00:00:00   ┆            ┆        ┆            │
│ 0      ┆ 0           ┆ 3           ┆ 1.003   ┆ … ┆ 2021-09-02 ┆ 1          ┆ 2932   ┆ 2          │
│        ┆             ┆             ┆         ┆   ┆ 00:00:00   ┆            ┆        ┆            │
│ …      ┆ …           ┆ …           ┆ …       ┆ … ┆ …          ┆ …          ┆ …      ┆ …          │
│ 15     ┆ 0           ┆ 3           ┆ 59.302  ┆ … ┆ 2021-09-02 ┆ 1          ┆ 5851   ┆ 58         │
│        ┆             ┆             ┆         ┆   ┆ 23:00:00   ┆            ┆        ┆            │
│ 15     ┆ 1           ┆ 1           ┆ 0.0     ┆ … ┆ 2021-09-02 ┆ 1          ┆ 5852   ┆ 59         │
│        ┆             ┆             ┆         ┆   ┆ 23:00:00   ┆            ┆        ┆            │
│ 15     ┆ 1           ┆ 1           ┆ 21.756  ┆ … ┆ 2021-09-02 ┆ 1          ┆ 5853   ┆ 59         │
│        ┆             ┆             ┆         ┆   ┆ 23:00:00   ┆            ┆        ┆            │
│ 15     ┆ 1           ┆ 3           ┆ 0.0     ┆ … ┆ 2021-09-02 ┆ 1          ┆ 5854   ┆ 60         │
│        ┆             ┆             ┆         ┆   ┆ 23:00:00   ┆            ┆        ┆            │
│ 15     ┆ 1           ┆ 3           ┆ 295.494 ┆ … ┆ 2021-09-02 ┆ 1          ┆ 5855   ┆ 60         │
│        ┆             ┆             ┆         ┆   ┆ 23:00:00   ┆            ┆        ┆            │
└────────┴─────────────┴─────────────┴─────────┴───┴────────────┴────────────┴────────┴────────────┘

In [13]:
dfs["forecast_weather"].filter(
    (pl.col("latitude") == 57.6) &
    (pl.col("longitude") == 21.7) &
    (pl.col("origin_datetime") == "2021-09-01 02:00:00")
).select(
    ["latitude", "longitude", "hours_ahead", "origin_datetime"]
).group_by("origin_datetime").agg(pl.col("hours_ahead").mean())

shape: (1, 2)
┌─────────────────────┬─────────────┐
│ origin_datetime     ┆ hours_ahead │
│ ---                 ┆ ---         │
│ str                 ┆ f64         │
╞═════════════════════╪═════════════╡
│ 2021-09-01 02:00:00 ┆ 24.5        │
└─────────────────────┴─────────────┘

In [14]:
agg_columns = [col for col in dfs["forecast_weather"].columns 
               if col not in ["latitude", "longitude"] + 
               ["forecast_datetime", 'data_block_id']]
agg_dict = {agg_col: ["mean"] for agg_col in agg_columns}

dfs["forecast_weather"].group_by(["forecast_datetime", 'data_block_id']).agg(
    pl.mean(agg_columns)
)

shape: (30_572, 16)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ forecast_ ┆ data_bloc ┆ origin_da ┆ hours_ahe ┆ … ┆ direct_so ┆ surface_s ┆ snowfall  ┆ total_pr │
│ datetime  ┆ k_id      ┆ tetime    ┆ ad        ┆   ┆ lar_radia ┆ olar_radi ┆ ---       ┆ ecipitat │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ tion      ┆ ation_dow ┆ f64       ┆ ion      │
│ str       ┆ i64       ┆ str       ┆ f64       ┆   ┆ ---       ┆ nwa…      ┆           ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆ f64       ┆ ---       ┆           ┆ f64      │
│           ┆           ┆           ┆           ┆   ┆           ┆ f64       ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2021-11-0 ┆ 65        ┆ null      ┆ 25.0      ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.000828 │
│ 5         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 02:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2023-01-1 ┆ 498       ┆ null      ┆ 48.0      ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.000116  ┆ 0.000515 │
│ 3         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 01:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2022-11-0 ┆ 432       ┆ null      ┆ 29.0      ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.000066 │
│ 7         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 06:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2021-11-2 ┆ 86        ┆ null      ┆ 45.0      ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.000109  ┆ 0.000138 │
│ 6         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 22:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2023-04-0 ┆ 583       ┆ null      ┆ 13.0      ┆ … ┆ 631.91492 ┆ 456.69464 ┆ 0.0       ┆ 6.4926e- │
│ 6         ┆           ┆           ┆           ┆   ┆ 1         ┆ 3         ┆           ┆ 7        │
│ 15:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 2023-02-2 ┆ 542       ┆ null      ┆ 44.0      ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.000057  ┆ 0.000057 │
│ 5         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 21:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2023-02-2 ┆ 544       ┆ null      ┆ 38.0      ┆ … ┆ 414.16833 ┆ 183.83988 ┆ 1.5966e-7 ┆ 7.8763e- │
│ 7         ┆           ┆           ┆           ┆   ┆ 3         ┆ 1         ┆           ┆ 8        │
│ 15:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2022-06-1 ┆ 290       ┆ null      ┆ 28.0      ┆ … ┆ 77.048254 ┆ 108.46158 ┆ 0.0       ┆ 0.000002 │
│ 8         ┆           ┆           ┆           ┆   ┆           ┆ 7         ┆           ┆          │
│ 06:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2022-01-3 ┆ 150       ┆ null      ┆ 47.0      ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.000676  ┆ 0.000913 │
│ 0         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2022-09-2 ┆ 391       ┆ null      ┆ 13.0      ┆ … ┆ 534.60803 ┆ 316.26599 ┆ 0.0       ┆ 0.000018 │
│ 6         ┆           ┆           ┆           ┆   ┆ 1         ┆ 2         ┆           ┆          │
│ 15:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [15]:
dfs["forecast_weather"].head()

shape: (5, 18)
┌──────────┬───────────┬────────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ latitude ┆ longitude ┆ origin_dat ┆ hours_ahe ┆ … ┆ direct_so ┆ surface_s ┆ snowfall ┆ total_pre │
│ ---      ┆ ---       ┆ etime      ┆ ad        ┆   ┆ lar_radia ┆ olar_radi ┆ ---      ┆ cipitatio │
│ f64      ┆ f64       ┆ ---        ┆ ---       ┆   ┆ tion      ┆ ation_dow ┆ f64      ┆ n         │
│          ┆           ┆ str        ┆ i64       ┆   ┆ ---       ┆ nwa…      ┆          ┆ ---       │
│          ┆           ┆            ┆           ┆   ┆ f64       ┆ ---       ┆          ┆ f64       │
│          ┆           ┆            ┆           ┆   ┆           ┆ f64       ┆          ┆           │
╞══════════╪═══════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ 57.6     ┆ 21.7      ┆ 2021-09-01 ┆ 1         ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0      ┆ 0.0       │
│          ┆           ┆ 02:00:00   ┆           ┆   ┆           ┆           ┆          ┆           │
│ 57.6     ┆ 22.2      ┆ 2021-09-01 ┆ 1         ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0      ┆ 0.0       │
│          ┆           ┆ 02:00:00   ┆           ┆   ┆           ┆           ┆          ┆           │
│ 57.6     ┆ 22.7      ┆ 2021-09-01 ┆ 1         ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0      ┆ 0.0       │
│          ┆           ┆ 02:00:00   ┆           ┆   ┆           ┆           ┆          ┆           │
│ 57.6     ┆ 23.2      ┆ 2021-09-01 ┆ 1         ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0      ┆ 0.0       │
│          ┆           ┆ 02:00:00   ┆           ┆   ┆           ┆           ┆          ┆           │
│ 57.6     ┆ 23.7      ┆ 2021-09-01 ┆ 1         ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0      ┆ 0.0       │
│          ┆           ┆ 02:00:00   ┆           ┆   ┆           ┆           ┆          ┆           │
└──────────┴───────────┴────────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

In [32]:
result = dfs["train"].with_columns(
    pl.col("datetime").str.strptime(
        pl.Datetime, "%Y-%m-%d %H:%M:%S"
    )
)

In [33]:
result

shape: (2_018_352, 9)
┌────────┬─────────────┬────────────┬─────────┬───┬────────────┬────────────┬─────────┬────────────┐
│ county ┆ is_business ┆ product_ty ┆ target  ┆ … ┆ datetime   ┆ data_block ┆ row_id  ┆ prediction │
│ ---    ┆ ---         ┆ pe         ┆ ---     ┆   ┆ ---        ┆ _id        ┆ ---     ┆ _unit_id   │
│ i64    ┆ i64         ┆ ---        ┆ f64     ┆   ┆ datetime[μ ┆ ---        ┆ i64     ┆ ---        │
│        ┆             ┆ i64        ┆         ┆   ┆ s]         ┆ i64        ┆         ┆ i64        │
╞════════╪═════════════╪════════════╪═════════╪═══╪════════════╪════════════╪═════════╪════════════╡
│ 0      ┆ 0           ┆ 1          ┆ 0.713   ┆ … ┆ 2021-09-01 ┆ 0          ┆ 0       ┆ 0          │
│        ┆             ┆            ┆         ┆   ┆ 00:00:00   ┆            ┆         ┆            │
│ 0      ┆ 0           ┆ 1          ┆ 96.59   ┆ … ┆ 2021-09-01 ┆ 0          ┆ 1       ┆ 0          │
│        ┆             ┆            ┆         ┆   ┆ 00:00:00   ┆            ┆         ┆            │
│ 0      ┆ 0           ┆ 2          ┆ 0.0     ┆ … ┆ 2021-09-01 ┆ 0          ┆ 2       ┆ 1          │
│        ┆             ┆            ┆         ┆   ┆ 00:00:00   ┆            ┆         ┆            │
│ 0      ┆ 0           ┆ 2          ┆ 17.314  ┆ … ┆ 2021-09-01 ┆ 0          ┆ 3       ┆ 1          │
│        ┆             ┆            ┆         ┆   ┆ 00:00:00   ┆            ┆         ┆            │
│ 0      ┆ 0           ┆ 3          ┆ 2.904   ┆ … ┆ 2021-09-01 ┆ 0          ┆ 4       ┆ 2          │
│        ┆             ┆            ┆         ┆   ┆ 00:00:00   ┆            ┆         ┆            │
│ …      ┆ …           ┆ …          ┆ …       ┆ … ┆ …          ┆ …          ┆ …       ┆ …          │
│ 15     ┆ 1           ┆ 0          ┆ 197.233 ┆ … ┆ 2023-05-31 ┆ 637        ┆ 2018347 ┆ 64         │
│        ┆             ┆            ┆         ┆   ┆ 23:00:00   ┆            ┆         ┆            │
│ 15     ┆ 1           ┆ 1          ┆ 0.0     ┆ … ┆ 2023-05-31 ┆ 637        ┆ 2018348 ┆ 59         │
│        ┆             ┆            ┆         ┆   ┆ 23:00:00   ┆            ┆         ┆            │
│ 15     ┆ 1           ┆ 1          ┆ 28.404  ┆ … ┆ 2023-05-31 ┆ 637        ┆ 2018349 ┆ 59         │
│        ┆             ┆            ┆         ┆   ┆ 23:00:00   ┆            ┆         ┆            │
│ 15     ┆ 1           ┆ 3          ┆ 0.0     ┆ … ┆ 2023-05-31 ┆ 637        ┆ 2018350 ┆ 60         │
│        ┆             ┆            ┆         ┆   ┆ 23:00:00   ┆            ┆         ┆            │
│ 15     ┆ 1           ┆ 3          ┆ 196.24  ┆ … ┆ 2023-05-31 ┆ 637        ┆ 2018351 ┆ 60         │
│        ┆             ┆            ┆         ┆   ┆ 23:00:00   ┆            ┆         ┆            │
└────────┴─────────────┴────────────┴─────────┴───┴────────────┴────────────┴─────────┴────────────┘

In [42]:
result = result.with_columns([
    pl.col("datetime").dt.truncate("1d").cast(pl.Date).alias("date"),
    pl.col("datetime").dt.year().alias("year")
])

In [24]:
dfa = pl.DataFrame({
    "A":[1, 3, 4, 3, 2],
    "B":["uno", "tres", "cuatro", "tres", "dos"]
})
dfa

shape: (5, 2)
┌─────┬────────┐
│ A   ┆ B      │
│ --- ┆ ---    │
│ i64 ┆ str    │
╞═════╪════════╡
│ 1   ┆ uno    │
│ 3   ┆ tres   │
│ 4   ┆ cuatro │
│ 3   ┆ tres   │
│ 2   ┆ dos    │
└─────┴────────┘

In [25]:
dfb = pl.DataFrame({
    "A":[1, 2, 3, 4],
    "C":["one", "two", "three", "four"]
})
dfb

shape: (4, 2)
┌─────┬───────┐
│ A   ┆ C     │
│ --- ┆ ---   │
│ i64 ┆ str   │
╞═════╪═══════╡
│ 1   ┆ one   │
│ 2   ┆ two   │
│ 3   ┆ three │
│ 4   ┆ four  │
└─────┴───────┘

In [26]:
dfa.join(dfb, how="left", on="A")

shape: (5, 3)
┌─────┬────────┬───────┐
│ A   ┆ B      ┆ C     │
│ --- ┆ ---    ┆ ---   │
│ i64 ┆ str    ┆ str   │
╞═════╪════════╪═══════╡
│ 1   ┆ uno    ┆ one   │
│ 3   ┆ tres   ┆ three │
│ 4   ┆ cuatro ┆ four  │
│ 3   ┆ tres   ┆ three │
│ 2   ┆ dos    ┆ two   │
└─────┴────────┴───────┘

In [ ]:
# PASAR A RADIANES
# HIVERSINE DISTANCE
# JOIN CON LOS COUNTIES MAS CERCANOS