In [1]:
import pandas as pd
from pathlib import Path
from IPython.display import display, Markdown

In [2]:
def transform_data(df: pd.DataFrame):
    df_copy = df.copy()

    df_copy['user'] = df_copy['user'].astype('string')

    df_copy['start_date'] = pd.to_datetime(
        df_copy['start_date'],
        format="%Y-%m-%dT%H:%M:%SZ"
    )

    df_copy['end_date'] = pd.to_datetime(
        df_copy['end_date'],
        format="%Y-%m-%dT%H:%M:%SZ"
    )
    
    df_copy['contract_start_date'] = pd.to_datetime(
        df_copy['end_date']
    )

    df_copy['contract_end_date'] = pd.to_datetime(
        df_copy['end_date']
    )

    df_copy['contracted_tariff'] = df_copy['contracted_tariff'].astype('category')
    df_copy['municipality'] = df_copy['municipality'].astype('category')
    df_copy['province'] = df_copy['province'].astype('category')

    return df_copy

In [3]:
def describe_data(df: pd.DataFrame):
    columns = df.columns
    stats = df.describe()
    display(stats)
    
    display(Markdown("### **Data description**"))
    for col in columns:
        col_name = col
        dtype = df[col].dtype
        display(Markdown(f"{col_name}:    {dtype}"))

    return None

In [4]:
metadata_path = Path("Data/smartmetersdata/7362094/metadata.csv").resolve()

In [5]:
metadata = pd.read_csv(metadata_path, parse_dates=True)

metadata = transform_data(metadata)


metadata['user'] = metadata['user'].astype('string')

In [6]:
# Data visualization
display(Markdown(f'## **{metadata_path.name}**'))
display(metadata.head(3))
display(Markdown(f"shape: {metadata.shape}"))

display(metadata.describe(include='all'))

# Data statistics
describe_data(metadata)
#display(metadata.describe().loc['count', 'p1'].item())

## **metadata.csv**

,user,start_date,end_date,length_days,length_years,potential_samples,actual_samples,missing_samples_abs,missing_samples_pct,contract_start_date,...,p1,p2,p3,p4,p5,p6,province,municipality,zip_code,cnae
0,00000c5a448d9faa097b761cc98036d45a4e7d36032903...,2022-05-30 01:00:00,2022-06-05,6.0,0.016427,144,144,0,0.000000,2022-06-05,...,2.20,2.20,0.0,0.0,0.0,0.0,Gipuzkoa,NaN,NaN,9329.0
1,0001b3b2f18c01c62ed9b2a87de7b4e33e7836f786f790...,2017-05-31 01:00:00,2022-06-05,1831.0,5.013005,43944,43863,81,0.184326,2022-06-05,...,3.45,3.45,NaN,NaN,NaN,NaN,Bizkaia,NaN,NaN,9820.0
2,0003de2700e20a1681d69fe287441d9041407a7698d5c8...,2017-05-31 01:00:00,2019-11-14,897.0,2.455852,21528,21476,52,0.241546,2019-11-14,...,4.60,NaN,NaN,NaN,NaN,NaN,Gipuzkoa,Donostia/San Sebastian,20013.0,9820.0

shape: (25559, 23)

,user,start_date,end_date,length_days,length_years,potential_samples,actual_samples,missing_samples_abs,missing_samples_pct,contract_start_date,...,p1,p2,p3,p4,p5,p6,province,municipality,zip_code,cnae
count,25559,25559,25559,25559.000000,25559.000000,25559.000000,25559.000000,25559.000000,25559.000000,25559,...,25371.000000,24078.000000,3596.000000,3284.000000,3286.000000,3286.000000,25371,9215,9215.000000,25340.000000
unique,25559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,47,102,NaN,NaN
top,00489151865c9806ea977413603cc72b8bc27ff57350e8...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Gipuzkoa,Bilbao,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9291,2067,NaN,NaN
mean,NaN,2019-05-17 15:46:11.939433984,2022-03-22 01:22:22.024335616,1039.441764,2.845836,24946.602332,24736.542392,210.059940,0.673996,2022-03-22 01:22:22.024335616,...,4.850001,5.013765,8.039664,8.214998,8.209998,11.208181,NaN,NaN,26451.625285,9207.880979
min,NaN,2014-11-02 01:00:00,2015-11-02 00:00:00,1.000000,0.002738,24.000000,24.000000,0.000000,0.000000,2015-11-02 00:00:00,...,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1001.000000,0.000000
25%,NaN,2017-07-06 01:00:00,2022-06-04 00:00:00,461.000000,1.262149,11064.000000,10989.000000,3.000000,0.021433,2022-06-04 00:00:00,...,3.300000,3.300000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,20003.000000,9820.000000
50%,NaN,2019-03-12 01:00:00,2022-06-05 00:00:00,1017.000000,2.784394,24408.000000,24163.000000,6.000000,0.024539,2022-06-05 00:00:00,...,3.450000,3.450000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,28010.000000,9820.000000
75%,NaN,2020-12-17 01:00:00,2022-06-05 00:00:00,1685.000000,4.613279,40440.000000,40217.000000,33.000000,0.122884,2022-06-05 00:00:00,...,4.600000,4.600000,11.000000,12.000000,12.000000,15.001000,NaN,NaN,48003.000000,9820.000000
max,NaN,2022-06-04 01:00:00,2022-06-08 00:00:00,2584.125000,7.074949,62019.000000,62012.000000,38431.000000,99.598326,2022-06-08 00:00:00,...,550.000000,550.000000,550.000000,550.000000,550.000000,800.000000,NaN,NaN,50617.000000,9949.000000
std,NaN,NaN,NaN,622.855142,1.705284,14948.523415,14890.494660,1871.215495,5.437353,NaN,...,8.058459,9.041275,23.144941,23.591731,23.585419,38.989945,NaN,NaN,16959.038260,1632.046788

,start_date,end_date,length_days,length_years,potential_samples,actual_samples,missing_samples_abs,missing_samples_pct,contract_start_date,contract_end_date,p1,p2,p3,p4,p5,p6,zip_code,cnae
count,25559,25559,25559.000000,25559.000000,25559.000000,25559.000000,25559.000000,25559.000000,25559,25559,25371.000000,24078.000000,3596.000000,3284.000000,3286.000000,3286.000000,9215.000000,25340.000000
mean,2019-05-17 15:46:11.939433984,2022-03-22 01:22:22.024335616,1039.441764,2.845836,24946.602332,24736.542392,210.059940,0.673996,2022-03-22 01:22:22.024335616,2022-03-22 01:22:22.024335616,4.850001,5.013765,8.039664,8.214998,8.209998,11.208181,26451.625285,9207.880979
min,2014-11-02 01:00:00,2015-11-02 00:00:00,1.000000,0.002738,24.000000,24.000000,0.000000,0.000000,2015-11-02 00:00:00,2015-11-02 00:00:00,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,1001.000000,0.000000
25%,2017-07-06 01:00:00,2022-06-04 00:00:00,461.000000,1.262149,11064.000000,10989.000000,3.000000,0.021433,2022-06-04 00:00:00,2022-06-04 00:00:00,3.300000,3.300000,0.000000,0.000000,0.000000,0.000000,20003.000000,9820.000000
50%,2019-03-12 01:00:00,2022-06-05 00:00:00,1017.000000,2.784394,24408.000000,24163.000000,6.000000,0.024539,2022-06-05 00:00:00,2022-06-05 00:00:00,3.450000,3.450000,0.000000,0.000000,0.000000,0.000000,28010.000000,9820.000000
75%,2020-12-17 01:00:00,2022-06-05 00:00:00,1685.000000,4.613279,40440.000000,40217.000000,33.000000,0.122884,2022-06-05 00:00:00,2022-06-05 00:00:00,4.600000,4.600000,11.000000,12.000000,12.000000,15.001000,48003.000000,9820.000000
max,2022-06-04 01:00:00,2022-06-08 00:00:00,2584.125000,7.074949,62019.000000,62012.000000,38431.000000,99.598326,2022-06-08 00:00:00,2022-06-08 00:00:00,550.000000,550.000000,550.000000,550.000000,550.000000,800.000000,50617.000000,9949.000000
std,NaN,NaN,622.855142,1.705284,14948.523415,14890.494660,1871.215495,5.437353,NaN,NaN,8.058459,9.041275,23.144941,23.591731,23.585419,38.989945,16959.038260,1632.046788

### **Data description**

user:    string

start_date:    datetime64[ns]

end_date:    datetime64[ns]

length_days:    float64

length_years:    float64

potential_samples:    int64

actual_samples:    int64

missing_samples_abs:    int64

missing_samples_pct:    float64

contract_start_date:    datetime64[ns]

contract_end_date:    datetime64[ns]

contracted_tariff:    category

self_consumption_type:    object

p1:    float64

p2:    float64

p3:    float64

p4:    float64

p5:    float64

p6:    float64

province:    category

municipality:    category

zip_code:    float64

cnae:    float64