In [1]:
using Pkg
Pkg.activate(".")

using DataFrames, Statistics, CSV, Markdown, CategoricalArrays

  Activating project at `d:\Clases\4o Curso\2o Cuatrimestre\TFG\TFG-ProduccionElectrica\codigo\Julia`

In [2]:
md(s) = display("text/markdown", s)

md (generic function with 1 method)

In [3]:
data_path = "../data"

filter(f -> endswith(f, ".csv"), readdir(data_path))

6-element Vector{String}:
 "client.csv"
 "electricity_prices.csv"
 "gas_prices.csv"
 "historical_weather.csv"
 "train.csv"
 "weather_station_to_county_mapping.csv"

# Carga de los datos

In [4]:
function load_dict(path::AbstractString)::Dict{String, DataFrame}
    Dict(
        (occursin("weather_station", name) ? "weather_station" : name) =>
        CSV.read(joinpath(path, file), DataFrame)
        for file in readdir(path)
        if endswith(file, ".csv") && begin
            global name = splitext(file)[1]
            true
        end
    ) 
end

load_dict (generic function with 1 method)

function load_data(path::String)::Dict{String, DataFrame}
    files = filter(f -> endswith(f, ".csv"), readdir(path))
    data = Dict{String, DataFrame}()

    for file in files
        file_name, _ = splitext(file)
        file_path = joinpath(path, file)

        file_name = occursin("weather_station", file_name) ? "weather_station" : file_name

        data[file_name] = CSV.read(file_path, DataFrame)
    end

    return data
end

In [5]:
data_dict = load_dict(data_path)

Dict{String, DataFrame} with 6 entries:
  "historical_weather" => 1710802×18 DataFrame…
  "electricity_prices" => 15286×4 DataFrame…
  "weather_station"    => 112×4 DataFrame…
  "client"             => 41919×7 DataFrame…
  "train"              => 2018352×9 DataFrame…
  "gas_prices"         => 637×5 DataFrame…

# Descripción de los datos

In [6]:
function to_categorical!(df::DataFrame, cols::Vector{String})
    for col in cols
        if col in names(df)
            df[!, col] = CategoricalArray(df[!, col])
        end
    end
end

to_categorical! (generic function with 1 method)

In [7]:
categorical_columns = [
    "county",
    "product_type",
    "is_business",
    "county_name",
    "is_consumption"
]

5-element Vector{String}:
 "county"
 "product_type"
 "is_business"
 "county_name"
 "is_consumption"

In [8]:
for key in keys(data_dict)
    to_categorical!(data_dict[key], categorical_columns)
end

In [43]:
function print_stats(df::DataFrame)
    stats = describe(df)
    for row in eachrow(stats)
        md("**$(row.variable)**")
        for stat in names(row)[2:end]
            md("\t$stat: $(row[stat])")
        end
    end
end

print_stats (generic function with 1 method)

In [46]:
function display_stats(df::DataFrame, name::String)
    # Data visuallization
    md("### **$name**")
    display(first(df, 5))
    md("shape: $(size(df))")

    display(describe(df))
    
end

display_stats (generic function with 1 method)

In [47]:
for key in keys(data_dict)
    display_stats(data_dict[key], key)
end

### **historical_weather**

5×18 DataFrame
 Row │ datetime             temperature  dewpoint  rain     snowfall  surface_ ⋯
     │ String31             Float64      Float64   Float64  Float64   Float64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 2021-09-01 00:00:00         14.2      11.6      0.0       0.0           ⋯
   2 │ 2021-09-01 00:00:00         13.9      11.5      0.0       0.0
   3 │ 2021-09-01 00:00:00         14.0      12.5      0.0       0.0
   4 │ 2021-09-01 00:00:00         14.6      11.5      0.0       0.0
   5 │ 2021-09-01 00:00:00         15.7      12.9      0.0       0.0           ⋯
                                                              13 columns omitted

shape: (1710802, 18)

18×7 DataFrame
 Row │ variable                mean       min                  median  max     ⋯
     │ Symbol                  Union…     Any                  Union…  Any     ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ datetime                           2021-09-01 00:00:00          2023-05 ⋯
   2 │ temperature             5.74097    -23.7                5.1     32.6
   3 │ dewpoint                2.24031    -25.9                1.7     23.8
   4 │ rain                    0.0496201  0.0                  0.0     16.8
   5 │ snowfall                0.016049   0.0                  0.0     2.66    ⋯
   6 │ surface_pressure        1009.28    942.9                1010.4  1049.3
   7 │ cloudcover_total        60.9127    0                    72.0    100
   8 │ cloudcover_low          46.6859    0                    39.0    100
  ⋮  │           ⋮                 ⋮               ⋮             ⋮             ⋱
  12 │ winddirection_10m       197.869    0                    208.0   360     ⋯
  13 │ shortwave_radiation     106.491    0.0                  1.0     849.0
  14 │ direct_solar_radiation  64.4529    0.0                  0.0     754.0
  15 │ diffuse_radiation       42.0376    0.0                  1.0     388.0
  16 │ latitude                58.65      57.6                 58.5    59.7    ⋯
  17 │ longitude               24.95      21.7                 24.7    28.2
  18 │ data_block_id           319.271    1.0                  319.0   637.0
                                                    3 columns and 3 rows omitted

### **electricity_prices**

5×4 DataFrame
 Row │ forecast_date        euros_per_mwh  origin_date          data_block_id
     │ String31             Float64        String31             Int64
─────┼────────────────────────────────────────────────────────────────────────
   1 │ 2021-09-01 00:00:00          92.51  2021-08-31 00:00:00              1
   2 │ 2021-09-01 01:00:00          88.9   2021-08-31 01:00:00              1
   3 │ 2021-09-01 02:00:00          87.35  2021-08-31 02:00:00              1
   4 │ 2021-09-01 03:00:00          86.88  2021-08-31 03:00:00              1
   5 │ 2021-09-01 04:00:00          88.43  2021-08-31 04:00:00              1

shape: (15286, 4)

4×7 DataFrame
 Row │ variable       mean     min                  median  max                ⋯
     │ Symbol         Union…   Any                  Union…  Any                ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ forecast_date           2021-09-01 00:00:00          2023-05-30 23:00:0 ⋯
   2 │ euros_per_mwh  157.064  -10.06               128.28  4000.0
   3 │ origin_date             2021-08-31 00:00:00          2023-05-29 23:00:0
   4 │ data_block_id  318.991  1                    319.0   637
                                                               3 columns omitted

### **weather_station**

5×4 DataFrame
 Row │ county_name  longitude  latitude  county
     │ Cat…?        Float64    Float64   Cat…?
─────┼───────────────────────────────────────────
   1 │ missing           21.7      57.6  missing
   2 │ missing           21.7      57.9  missing
   3 │ missing           21.7      58.2  missing
   4 │ missing           21.7      58.5  missing
   5 │ missing           21.7      58.8  missing

shape: (112, 4)

4×7 DataFrame
 Row │ variable     mean    min       median  max      nmissing  eltype        ⋯
     │ Symbol       Union…  Any       Union…  Any      Int64     Type          ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ county_name          Harjumaa          Võrumaa        63  Union{Missing ⋯
   2 │ longitude    24.95   21.7      24.95   28.2            0  Float64
   3 │ latitude     58.65   57.6      58.65   59.7            0  Float64
   4 │ county               0                 15             63  Union{Missing
                                                                1 column omitted

### **client**

5×7 DataFrame
 Row │ product_type  county        eic_count  installed_capacity  is_business  ⋯
     │ Categorical…  Categorical…  Int64      Float64             Categorical… ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 1             0                   108              952.89  0            ⋯
   2 │ 2             0                    17              166.4   0
   3 │ 3             0                   688             7207.88  0
   4 │ 0             0                     5              400.0   1
   5 │ 1             0                    43             1411.0   1            ⋯
                                                               2 columns omitted

shape: (41919, 7)

7×7 DataFrame
 Row │ variable            mean     min         median      max         nmissi ⋯
     │ Symbol              Union…   Any         Any         Any         Int64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ product_type                 0                       3                  ⋯
   2 │ county                       0                       15
   3 │ eic_count           73.3451  5           32.0        1517
   4 │ installed_capacity  1450.77  5.5         645.2       19314.3
   5 │ is_business                  0                       1                  ⋯
   6 │ date                         2021-09-01  2022-07-20  2023-05-29
   7 │ data_block_id       322.899  2           324.0       637
                                                               2 columns omitted

### **train**

5×9 DataFrame
 Row │ county  is_business  product_type  target    is_consumption  datetime   ⋯
     │ Cat…    Cat…         Cat…          Float64?  Cat…            String31   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 0       0            1                0.713  0               2021-09-01 ⋯
   2 │ 0       0            1               96.59   1               2021-09-01
   3 │ 0       0            2                0.0    0               2021-09-01
   4 │ 0       0            2               17.314  1               2021-09-01
   5 │ 0       0            3                2.904  0               2021-09-01 ⋯
                                                               4 columns omitted

shape: (2018352, 9)

9×7 DataFrame
 Row │ variable            mean       min                  median     max      ⋯
     │ Symbol              Union…     Any                  Union…     Any      ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ county                         0                               15       ⋯
   2 │ is_business                    0                               1
   3 │ product_type                   0                               3
   4 │ target              274.856    0.0                  31.133     15480.3
   5 │ is_consumption                 0                               1        ⋯
   6 │ datetime                       2021-09-01 00:00:00             2023-05-
   7 │ data_block_id       321.875    0                    323.0      637
   8 │ row_id              1.00918e6  0                    1.00918e6  2018351
   9 │ prediction_unit_id  33.0454    0                    33.0       68       ⋯
                                                               3 columns omitted

### **gas_prices**

5×5 DataFrame
 Row │ forecast_date  lowest_price_per_mwh  highest_price_per_mwh  origin_date ⋯
     │ Dates.Date     Float64               Float64                Dates.Date  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 2021-09-01                    45.23                  46.32  2021-08-31  ⋯
   2 │ 2021-09-02                    45.62                  46.29  2021-09-01
   3 │ 2021-09-03                    45.85                  46.4   2021-09-02
   4 │ 2021-09-04                    46.3                   46.8   2021-09-03
   5 │ 2021-09-05                    46.3                   46.58  2021-09-04  ⋯
                                                                1 column omitted

shape: (637, 5)

5×7 DataFrame
 Row │ variable               mean     min         median      max         nmi ⋯
     │ Symbol                 Union…   Any         Any         Any         Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ forecast_date                   2021-09-01  2022-07-16  2023-05-30      ⋯
   2 │ lowest_price_per_mwh   95.0368  28.1        85.21       250.0
   3 │ highest_price_per_mwh  107.755  34.0        93.47       305.0
   4 │ origin_date                     2021-08-31  2022-07-15  2023-05-29
   5 │ data_block_id          319.0    1           319.0       637             ⋯
                                                               2 columns omitted

In [27]:
describe(data_dict["client"])

7×7 DataFrame
 Row │ variable            mean     min         median      max         nmissi ⋯
     │ Symbol              Union…   Any         Any         Any         Int64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ product_type                 0                       3                  ⋯
   2 │ county                       0                       15
   3 │ eic_count           73.3451  5           32.0        1517
   4 │ installed_capacity  1450.77  5.5         645.2       19314.3
   5 │ is_business                  0                       1                  ⋯
   6 │ date                         2021-09-01  2022-07-20  2023-05-29
   7 │ data_block_id       322.899  2           324.0       637
                                                               2 columns omitted